<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138061634031-ep0mhdh075e79n0a0fphjhmiv457nvsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138061634031-ep0mhdh075e79n0a0fphjhmiv457nvsg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>138061634031-2eg6b8iqgoemtr664kngfu688ql7bidr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWDj7fnXguZKntaTK8L1I6CbIX4jxmRVI</string>
	<key>GCM_SENDER_ID</key>
	<string>138061634031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cricquiz11</string>
	<key>PROJECT_ID</key>
	<string>donor-43652</string>
	<key>STORAGE_BUCKET</key>
	<string>donor-43652.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138061634031:ios:f1c6f6a23bf7a5d54abe1a</string>
	<key>DATABASE_URL</key>
	<string>https://donor-43652.firebaseio.com</string>
</dict>
</plist>